.form-control {
  margin-bottom: 8px;
}
.error {
  color: red;
  font-size: .8rem;
}
.btn-submit {
  position: relative;
  left: 23%;
  top: 3rem;
}
.action {
  font-size: .8rem;
  color: red;
  cursor: pointer;
}
.btn-add {
  margin: 10px 0;
}
.skill-input {
  width: 92%;
}